

.container{
    margin: 4%;
}

.table-dark {
    --bs-table-bg: red;
    --bs-table-striped-bg: red;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: red;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: red;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
}